// Define variables for your color scheme

// For example:
$red: blue;
$blue: black;
$yellow: orange;
$orange: green;
$green: yellow;
$gray: #000000;
$light-gray: #F4F4F4;
$white: red;
$black: yellow;
